{% extends 'homepage/index_main.html' %}
{% block title %} password reset form {% endblock title %}
{% block body_content %}


    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <span class="date text-pink text-size-30px mt-5">
                Enter Your email address below and we'll email instruction for resetting a new password
            </span>
            <form action="" method="post" class="mt-4 shadow  p-3 mb-5  !spacing ">
                {% csrf_token %}
                {% load bootstrap %}
                {{form|bootstrap}}
                <div class="d-flex justify-content-center">
                    <input class="bc-white mt-2 ml-2 loginbutton btn btn-success" type="submit" value="Send email">
                </div>
            </form>
        </div>
    </div>





    {% endblock body_content %}