{% extends 'homepage/index_main.html' %}
{% block title %} password change form {% endblock title %}
{% block body_content %}


    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <form action="" method="post" class="mt-4">
                {% csrf_token %}
                {% load bootstrap %}
                {{form|bootstrap}}
                <div class="d-flex justify-content-center">
                    <input class="bc-white mt-2 ml-2 loginbutton btn btn-success w-25" type="submit" value="Send email">
                </div>
            </form>
        </div>
    </div>





    {% endblock body_content %}