{% extends 'index_main.html' %}

{% block title %} Done {% endblock title %}

{% block body_content %}

<style>
    span{
        margin-top: 50px;
         font-size: 30px;
     }
     footer{
    margin-top: 350px;
}
 </style>
 <center >
     
     <div class="way col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12 ">
         <span class="date text-pink text-size-30px mt-5">
             we've emailed you your password. you should recieve 
         </span>        
     </div>
 
 </center>
 

{% endblock body_content %}