{% extends 'index_main.html' %}

{% block title %} password change {% endblock title %}

{% block body_content %}

<style>
    label{
        font-size: 40px;
    }
    input{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    span{
        font-size: 20px;
    }
    form{
        width: 400px;
    }
</style>
<center >
    
    <div class="way col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12 ">
        <span class="date text-pink text-size-30px mt-5">
            Enter Your email address below and we'll email instruction for resetting a new password
        </span>
        <form action="" method="post" class="mt-4">
            {% csrf_token %}
            {% load bootstrap %}
            {{form|bootstrap}}
            <div class="d-flex justify-content-center">
                <input class="bc-white mt-2 ml-2 loginbutton" type="submit" value="Send email">
            </div>
        </form>
    </div>

</center>

{% endblock body_content %}