{% extends 'main.html' %}
{% block title %} Manage_customer {% endblock title %}

{% block body_content %}
{% load static %}
<div id="dash"> 

  <section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <ul>
        <li>Manage customer Profile</li>
      </ul>
    </div>
  </section>
  
    <section class="section main-section">
        <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
                    <div class="flex ">
                            <table class="table table-dark table-striped table-hover">
                                <thead>
                                    <th class="col-2" >CUSTOMER_ID</th>
                                    <th class="col-2">PICTURE</th>
                                    <th class="col-2">USERNAME</th>
                                    <th class="col-2">FIRST_NAME</th>
                                    <th class="col-2">LASTNAME</th>
                                    <th class="col-2">STATUS</th>
                                    <th class="col-2">PROFILE</th>
                                </thead>
                                {% if customer %}

                                {% for customer in customer %}
                                
                                <tr>
                                    <td>
                                        <span style="color: #969cad;" class="font-weight-bold">
                                            {{customer.id}}
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: #0e399c;" class="font-weight-bold">
                                        {% if customer.profile_passport %}
                                            <img src="{{customer.profile_passport.url}}" alt="img" width="80px" height="100px" />
                                        {% else %}
                                        <i class="fas fa-user fa-lag fa-fw text-dark me-2"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: #0e399c;" class="font-weight-bold">
                                            {{customer.user.username}}
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: #0e399c;" class="font-weight-bold">
                                            {{customer.user.first_name}}
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: #0e399c;" class="font-weight-bold">
                                            {{customer.user.last_name}}
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: #0e399c;" class="font-weight-bold">
                                            {{customer.status}}
                                        </span>
                                    </td>
                                    <td>
                                        <a href="{% url 'customerProfile' customer.user_id %}">
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                Profile
                                            </span>
                                        </a>

                                    </td>
                                </tr>

                                {% endfor %}

                                {% endif %}
                            </table>

            </div>
        </div>
    </section>
</div>
{% endblock body_content %}